{% extends 'base.html.twig' %}

{% block title %}Randonnees{% endblock %}

{% block body %}

{% include('navbar.html.twig') %}


<div class="container mt-2">
    <div class="row">

        {% for randonnee in lesRandonnees %}

        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src={% if randonnee.laMiniature is defined and randonnee.laMiniature is not null %}{{ asset('img/' ~ randonnee.laMiniature.lien) }}{% else %}{{ asset('img/remplissage.jpg') }}{% endif %} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ randonnee.libelle|e }}</h5>
                    <p class="card-text description">{% if randonnee.description is defined and randonnee.description is not null %}{{ randonnee.description|e }}{% endif %}</p>
                    <a href={{ path("show_randonnee", {id: randonnee.id}) }} class="btn btn-primary">Voir les sessions</a>
                </div>
            </div>
        </div>
                    
        {% endfor %}
    </div>
</div>
{% endblock %}
