<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href={{ path("app_randonnee") }}>AssocRando</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href={{ path("app_randonnee") }}>Randonnées</a>
        </li>

      </ul>

      <form action={{ path("app_randonnee") }} method="POST" class="d-flex">
        <input name="recherche" class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search" value={% if recherche is defined and recherche is not null %}{{ recherche }}{% endif %} >
        <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>

      {% if app.user %}
      <div class="">
        <a class="mx-2 lien" href={{ path("app_register") }}>{{ app.user.prenom|e }} {{ app.user.nom|e }}</a>
        <a class="lien" href={{ path("app_logout") }}>Déconnexion</a>
      </div>
      {% else %}
      <div class="">
        <a class="mx-2 lien" href={{ path("app_login") }}>Connexion</a>
        <a class="lien" href={{ path("app_register") }}>Inscription</a>
      </div>
      {% endif %}
      
    </div>
  </div>
</nav>